# Homework 3

## Mysql-Python Connection

In [1]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

import os

%matplotlib inline

In [2]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="@ciephinc1",
  auth_plugin='mysql_native_password'
)
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x11fb82ed0>

In [ ]:
# creating database_cursor to perform SQL operation to run queries
db_cursor = db_connection.cursor(buffered=True)

# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE ps_ecommerce")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

# print all databases
for db in db_cursor:
    print(db)
    
db_cursor.execute("USE ps_ecommerce")

In [3]:
# Existing tables
db_cursor = db_connection.cursor(buffered=True)
db_cursor.execute("USE ps_ecommerce")

## Load Data to Mysql Tables

In [ ]:
def populate_table(db_connection, db_cursor, insert_query, file_path):
    
    with open(file_path, mode='r') as csv_data:
        reader = csv.reader(csv_data, delimiter=';')
        csv_data_list = list(reader)
        for row in csv_data_list[1:]:
            row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
            db_cursor.execute(insert_query, row)
        
    db_connection.commit()

In [ ]:
# create CUSTOMERS table
db_cursor.execute("""CREATE TABLE CUSTOMERS (customer_id VARCHAR(50) NOT NULL, 
                                          customer_unique_id VARCHAR(50) NOT NULL, 
                                          customer_zip_code_prefix VARCHAR(50), 
                                          customer_city VARCHAR(50), 
                                          customer_state VARCHAR(50))""")

insert_customers = (
    "INSERT INTO CUSTOMERS(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) "
    "VALUES (%s, %s, %s, %s, %s)"
)

In [ ]:

populate_table(db_connection, db_cursor, insert_customers, "customers.csv")

In [ ]:
# create ORDER_PAYMENTS table
db_cursor.execute("""CREATE TABLE ORDER_PAYMENTS (order_id VARCHAR(50) NOT NULL, 
                                          payment_sequential INTEGER, 
                                          payment_type VARCHAR(50), 
                                          payment_installments INTEGER, 
                                          payment_value FLOAT)""")

insert_orderpayments = (
    "INSERT INTO ORDER_PAYMENTS(order_id, payment_sequential, payment_type, payment_installments, payment_value) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderpayments, "order_payments.csv")

In [ ]:
# create ORDER_ITEMS table
db_cursor.execute("""CREATE TABLE ORDER_ITEMS (order_id VARCHAR(50) NOT NULL, 
                                          order_item_id INTEGER, 
                                          product_id VARCHAR(50), 
                                          seller_id VARCHAR(50), 
                                          shipping_limit_date DATETIME,
                                          price FLOAT,
                                          freight_value FLOAT)""")

insert_orderitems = (
    "INSERT INTO ORDER_ITEMS(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderitems, "order_items.csv")

In [ ]:
# create ORDERS table
db_cursor.execute("""CREATE TABLE ORDERS (order_id VARCHAR(50) NOT NULL, 
                                          customer_id VARCHAR(50) NOT NULL, 
                                          order_status VARCHAR(50), 
                                          order_purchase_timestamp DATETIME, 
                                          order_approved_at DATETIME,
                                          order_delivered_carrier_date DATETIME,
                                          order_delivered_customer_date DATETIME,
                                          order_estimated_delivery_date DATETIME)""")

insert_orders = (
    "INSERT INTO ORDERS(order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orders, "orders.csv")

In [ ]:
# Create PRODUCTS table
db_cursor.execute("""CREATE TABLE PRODUCTS (product_id VARCHAR(50) NOT NULL, 
                                            product_category_name VARCHAR(50), 
                                            product_name_lenght INTEGER, 
                                            product_description_lenght INTEGER, 
                                            product_photos_qty INTEGER,
                                            product_weight_g INTEGER,
                                            product_length_cm INTEGER,
                                            product_height_cm INTEGER,
                                            product_width_cm INTEGER)""")

insert_products = (
    "INSERT INTO PRODUCTS(product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm,  product_height_cm, product_width_cm) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_products, "products.csv")

## Question 1 (5 pts)

Find the number of orders which have more than 2 months between their `order_delivered_carrier_date` and `order_delivered_customer_date` dates.

HINT: There is a function in MySQL that makes it easy to compute the difference between two timestamps. We recommend that you search for it online and use it in your answer.

In [ ]:
db_cursor.execute("select count(*) from orders where timestampdiff(month, order_delivered_carrier_date, order_delivered_customer_date) > 2")
num_orders = db_cursor.fetchone()[0]

num_orders

## Question 2 (10 pts)

Consider the ORDER_COSTS view created below.

In [ ]:
order_costs_query = """
                    CREATE VIEW ORDER_COSTS AS (
                        SELECT ORDERS.order_id, SUM(price) AS cost, ORDERS.customer_id as cid
                        FROM ORDER_ITEMS 
                        JOIN ORDERS
                        ON ORDER_ITEMS.order_id=ORDERS.order_id
                        GROUP BY order_id, ORDERS.customer_id)
                    """

db_cursor.execute(order_costs_query)

Using ORDER_COSTS and CUSTOMERS tables, find the top 10 cities in which customers spend the most. Your result should contain pairs of cities and total spendings, i.e., (city1, spending1), (city2, spending2), ... Your result should be ordered from higher spending to lower spending.

In [ ]:
db_cursor.execute(
    """
    select customers.customer_city, sum(cost) as total_spending
    from order_costs 
    join customers on order_costs.cid=customers.customer_id 
    group by customers.customer_city 
    order by total_spending desc
    limit 10
    """
)
rows = db_cursor.fetchall()
rows

Draw a pie chart containing the top 10 cities you found and their spending.

For example, in the pie chart, the slice of Sao Paulo is 42%, slice of Rio de Janeiro is 21%, slice of Belo Horizonte is 8%, ... Make sure the names of the cities and their percentages are written on the pie chart.

In [ ]:
labels = list(map(lambda x: x[0], rows))
sizes = list(map(lambda x: x[1], rows))

fig, ax = plt.subplots()
ax.pie(sizes, labels=labels, autopct='%1.0f%%')

## Question 3 (5 pts)

Implement the following function: `get_payment`. It takes as input two parameters: startyear and endyear. It needs to find: Between the years startyear and endyear (startyear < year < endyear), how many times was each payment method used? Use `order_delivered_customer_date` of the ORDERS table to find the year of the order. 

Example result: `(credit_card, 215 times), (voucher, 20 times), (debit card, 2 times),` ...

HINT: There exists a MySQL function which makes it easy to extract years from dates.

In [ ]:
def get_payment(start_year, end_year):
    db_cursor.execute(
        f"""
        select payment_type, count(*) as num_orders
        from order_payments
        join orders on order_payments.order_id=orders.order_id
        where year(order_delivered_customer_date) > {start_year} and year(order_delivered_customer_date) < {end_year}
        group by payment_type
        order by num_orders desc
        """
    )
    rows = db_cursor.fetchall()
    return rows

Here is a sample function call:

In [ ]:
print(get_payment("2015", "2017"))

## Question 4 (10 pts)

Write an SQL query to find the total number of orders per week day, e.g., Monday -> 150 orders, Tuesday -> 200 orders, Wednesday -> 500 orders, etc. Use the `order_purchase_timestamp` attribute for finding the day of the order. Result should be ordered in days (Monday, Tuesday, ...).

HINT: Check out the "DAYNAME" and/or "WEEKDAY" functions of MySQL.

In [ ]:
db_cursor.execute(
    """
    select dayname(order_purchase_timestamp) as day, count(*) as num_orders
    from orders
    group by day
    order by field(day, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
    """
)
rows = db_cursor.fetchall()
rows

Plot the result using a LINE chart (days of week on x-axis, number of orders on y-axis).

In [ ]:
x = list(map(lambda x: x[0], rows))
y = list(map(lambda x: x[1], rows))

plt.plot(x, y)
plt.xlabel("Day of Week")
plt.ylabel("Number of Orders")

## Question 5 (10 pts)

Consider the PRODUCTS and ORDER_ITEMS tables. For each product category other than {"moveis_decoracao", "beleza_saude"}, find the maximum price that was paid for an item from that category. Limit the result to retrieve only first 13 rows in alphabetic order according to category name.

And result should be like: category1 -> minprice1, category2 -> minprice2, ...

In [ ]:
db_cursor.execute(
    """
    select p.product_category_name, max(oi.price) as max_price
    from order_items oi
    join products p on oi.product_id=p.product_id
    where p.product_category_name not in ('moveis_decoracao', 'beleza_saude')
    group by p.product_category_name
    order by p.product_category_name
    limit 13
    """
)
max_rows = db_cursor.fetchall()
print("Category -> Max Price")
print(max_rows)

db_cursor.execute(
    """
    select p.product_category_name, min(oi.price) as min_price
    from order_items oi
    join products p on oi.product_id=p.product_id
    where p.product_category_name not in ('moveis_decoracao', 'beleza_saude')
    group by p.product_category_name
    order by p.product_category_name
    limit 13
    """
)
min_rows = db_cursor.fetchall()
print("\nCategory -> Min Price")
print(min_rows)

Plot the result using a BAR CHART. Product categories should be on the x-axis, min prices should be on the y-axis.

In [ ]:
x = list(map(lambda x: x[0], min_rows))
y = list(map(lambda x: x[1], min_rows))

plt.bar(x, y)
plt.xlabel("Product Category")
plt.ylabel("Min Price")

## Question 6 (5 pts)

Run the following code. Explain what the SQL query returns as output. Please state your answer in plain English.

In [ ]:
query = """
    SELECT P.product_category_name, SUM(OP.payment_value) AS total_payment_value
    FROM ORDER_ITEMS OI
    JOIN PRODUCTS P ON OI.product_id = P.product_id
    JOIN ORDERS O ON OI.order_id = O.order_id
    JOIN ORDER_PAYMENTS OP ON O.order_id = OP.order_id
    WHERE O.order_status <> 'delivered'
    GROUP BY P.product_category_name
    limit 5;
"""
db_cursor.execute(query)
for row in db_cursor.fetchall():
    print(row)

This query returns the total payment value for each product category where the order status is not delivered. It groups the results by product category and limits the output to 5 rows.

## SQLAlchemy

In [ ]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import and_
from datetime import datetime
from sqlalchemy import or_
from sqlalchemy.orm import Query
from sqlalchemy.sql.expression import func
from sqlalchemy.sql.expression import alias

In [ ]:
engine = db.create_engine("mysql+pymysql://root:%40ciephinc1@localhost/ps_ecommerce")
connection = engine.connect()

In [ ]:
Base = declarative_base()
Base.metadata.reflect(engine)

### Otherwise run the following cell.

In [ ]:
class Customers(Base):
    __table__ = Base.metadata.tables["CUSTOMERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["CUSTOMERS"].c.customer_id]
    }
    
class Orders(Base):
    __table__ = Base.metadata.tables["ORDERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDERS"].c.order_id]
    }
    
class OrderItems(Base):
    __table__ = Base.metadata.tables["ORDER_ITEMS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_ITEMS"].c.order_id, Base.metadata.tables["ORDER_ITEMS"].c.order_item_id]
    }
    
class OrderPayments(Base):
    __table__ = Base.metadata.tables["ORDER_PAYMENTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_PAYMENTS"].c.order_id, Base.metadata.tables["ORDER_PAYMENTS"].c.payment_sequential]
    }
    
class Products(Base):
    __table__ = Base.metadata.tables["PRODUCTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["PRODUCTS"].c.product_id]
    }

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

## Question 7 (5 pts)

Solve this question using SQL Alchemy ONLY.

Find the `price` and `product_name_lenght` of products which have `product_name_lenght` > 64.

In [ ]:
(session
 .query(OrderItems.price, Products.product_name_lenght)
 .join(Products, OrderItems.product_id == Products.product_id)
 .filter(Products.product_name_lenght > 64)
 .all())

## Question 8 (5 pts)

Solve this question using SQL Alchemy ONLY.

For each month, find the total freight value in that month. Use the `shipping_limit_date` attribute to determine the months. Order months in increasing order. 

Example:

month 1 || total freight value in month 1

month 2 || total freight value in month 2

...

month 12 || total freight value in month 12

In [ ]:
(session
 .query(func.month(OrderItems.shipping_limit_date), func.sum(OrderItems.freight_value))
 .group_by(func.month(OrderItems.shipping_limit_date))
 .order_by(func.month(OrderItems.shipping_limit_date))
 .all())

## Question 9 (5+5+5 = 15 pts)

Let us define "large products" as those products with weight > 400 and length > 10. Some orders that contain a large product can have large discrepancies between their `order_delivered_carrier_date` and `order_delivered_customer_date`. 

Let us define "strange orders that contain large products" as those orders which contain a large product and the 
difference between their `order_delivered_carrier_date` and `order_delivered_customer_date` is larger than 100 days.

For all "strange orders that contain large products", find their order IDs and the number of days difference between 
their `order_delivered_carrier_date` and `order_delivered_customer_date`. Result should be like: "abc21312df" -> 132, "dhs230kdf8" -> 119, ...

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
db_cursor.execute(
    """
    select orders.order_id, datediff(order_delivered_customer_date, order_delivered_carrier_date) as diff
    from orders
    join order_items on orders.order_id=order_items.order_id
    join products on order_items.product_id=products.product_id
    where products.product_weight_g > 400 
        and products.product_length_cm > 10 
        and datediff(order_delivered_customer_date, order_delivered_carrier_date) > 100
    """
)
rows = db_cursor.fetchall()
rows

(5 pts) Next, solve the same question using SQL Alchemy. You can use multiple steps (multiple `session.query` statements) if you wish.

In [ ]:
rows = (session
    .query(Orders.order_id, func.datediff(Orders.order_delivered_customer_date, Orders.order_delivered_carrier_date))
    .join(OrderItems, Orders.order_id == OrderItems.order_id)
    .join(Products, OrderItems.product_id == Products.product_id)
    .filter(and_(Products.product_weight_g > 400, Products.product_length_cm > 10, func.datediff(Orders.order_delivered_customer_date, Orders.order_delivered_carrier_date) > 100))
    .all())

(5 pts) Next, draw a bar chart with the order IDs and differences in days. Order IDs should be on the x-axis. Differences in days should be on the y-axis.

In [ ]:
x = list(map(lambda x: x[0], rows))
y = list(map(lambda x: x[1], rows))

plt.bar(x, y)
plt.xlabel("Order ID")
plt.ylabel("Difference in Days")

## Question 10 (5+5 = 10 pts)

For each product with `product_name_lenght` > 60 and `product_description_lenght` > 3000, find the customer zip code prefix and customer unique id of the customers who bought that product.

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
db_cursor.execute(
    """
    select customers.customer_zip_code_prefix, customers.customer_unique_id
    from order_items
    join orders on order_items.order_id=orders.order_id
    join customers on orders.customer_id=customers.customer_id
    join products on order_items.product_id=products.product_id
    where products.product_name_lenght > 60 and products.product_description_lenght > 3000
    """
)
rows = db_cursor.fetchall()
rows

(5 pts) Next, solve the same question using SQL Alchemy.

In [ ]:
session.rollback()

In [ ]:
(session
.query(Customers.customer_zip_code_prefix, Customers.customer_unique_id)
.join(Orders, Customers.customer_id == Orders.customer_id)
.join(OrderItems, Orders.order_id == OrderItems.order_id)
.join(Products, OrderItems.product_id == Products.product_id)
.filter(and_(Products.product_name_lenght > 60, Products.product_description_lenght > 3000))
.all())

## Question 11 (10 pts)

Solve this question using SQL Alchemy ONLY.

Using the `ORDER_COSTS` view (first write a query to create it) and the `CUSTOMERS` table, find the following: In which states do customers spend, on average, more than 164 on their orders? For each such state, retrieve its name (abbreviation) and average order cost in that state. Results should be ordered from lowest cost to highest.

In [ ]:
OrderCosts = (session.query(Orders.order_id, func.sum(OrderItems.price).label("cost"), Orders.customer_id.label("cid"))
    .join(OrderItems, Orders.order_id == OrderItems.order_id)
    .group_by(Orders.order_id, Orders.customer_id)
    .subquery("order_costs"))

query = session \
    .query(Customers.customer_state, func.avg(OrderCosts.c.cost)) \
    .join(OrderCosts, Customers.customer_id == OrderCosts.c.cid) \
    .group_by(Customers.customer_state) \
    .having(func.avg(OrderCosts.c.cost) > 164) \
    .order_by(func.avg(OrderCosts.c.cost), Customers.customer_state) 

rows = query.all()
rows

## Question 12 (10 pts)

Consider a seller whose main product is 'cama_mesa_banho'. In order to increase his sales, he wants to make a special discount. If you buy 'cama_mesa_banho', you will get the item 'x' at half of its original price.

What should be this item 'x'? (Hint: If you buy a pencil, you will most probably buy an eraser too.)

(4 pts) Explain the logic behind your reasoning.

Write your answer here.

(3 pts) Use mysql connector to implement your solution.

DatabaseError: 2014 (HY000): Commands out of sync; you can't run this command now

(3 pts) Use SQL Alchemy to implement your solution.

[]

In [ ]:
session.close()

In [ ]:
db_cursor.close()
db_connection.close()