## Mysql-Python Connection

#### Installing required libraries

In [ ]:
!pip install mysql-connector-python pandas matplotlib seaborn

In [ ]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

In [ ]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="YOUR_PASSWORD", 
  auth_plugin='mysql_native_password'
)
print(db_connection)

### Create Database

In [ ]:
# creating database_cursor to perform SQL operation to run queries
db_cursor = db_connection.cursor(buffered=True)

In [ ]:
# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE problem_solving_ecommerce")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

# print all databases
for db in db_cursor:
    print(db)

In [ ]:
db_cursor.execute("USE problem_solving_ecommerce")

### Load Data to Mysql Tables

In [ ]:
def populate_table(db_connection, db_cursor, insert_query, file_path):
    
    with open(file_path, mode='r') as csv_data:
        reader = csv.reader(csv_data, delimiter=';')
        csv_data_list = list(reader)
        for row in csv_data_list[1:]:
            row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
            db_cursor.execute(insert_query, row)
        
    db_connection.commit()

### Create Table

In [ ]:
db_cursor.execute("""CREATE TABLE CUSTOMERS (customer_id VARCHAR(50) NOT NULL, 
                                            customer_unique_id VARCHAR(50) NOT NULL, 
                                            customer_zip_code_prefix VARCHAR(50), 
                                            customer_city VARCHAR(50), 
                                            customer_state VARCHAR(50))""")

insert_customers = (
    "INSERT INTO CUSTOMERS(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_customers, "customers.csv")

In [ ]:
db_cursor.execute("""CREATE TABLE ORDER_PAYMENTS (order_id VARCHAR(50) NOT NULL, 
                                                payment_sequential INTEGER, 
                                                payment_type VARCHAR(50), 
                                                payment_installments INTEGER, 
                                                payment_value FLOAT)""")

insert_orderpayments = (
    "INSERT INTO ORDER_PAYMENTS(order_id, payment_sequential, payment_type, payment_installments, payment_value) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderpayments, "order_payments.csv")

In [ ]:
db_cursor.execute("""CREATE TABLE ORDER_ITEMS (order_id VARCHAR(50) NOT NULL, 
                                                order_item_id INTEGER, 
                                                product_id VARCHAR(50), 
                                                seller_id VARCHAR(50), 
                                                shipping_limit_date DATETIME,
                                                price FLOAT,
                                                freight_value FLOAT)""")

insert_orderitems = (
    "INSERT INTO ORDER_ITEMS(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderitems, "order_items.csv")

In [ ]:
db_cursor.execute("""CREATE TABLE ORDERS (order_id VARCHAR(50) NOT NULL, 
                                          customer_id VARCHAR(50) NOT NULL, 
                                          order_status VARCHAR(50), 
                                          order_purchase_timestamp DATETIME, 
                                          order_approved_at DATETIME,
                                          order_delivered_carrier_date DATETIME,
                                          order_delivered_customer_date DATETIME,
                                          order_estimated_delivery_date DATETIME)""")

insert_orders = (
    "INSERT INTO ORDERS(order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orders, "orders.csv")

### 1. Data Analysis on E-Commerce Database

### Exercise 1 - Customers by cities

### Select Count

In [ ]:
# For each city, count the number of customer_ids from that city. Order the result in descending order.
#
#
#
#

In [ ]:
# Print the top-10 cities with highest customer_id counts.
#
#
#
#

### map, zip

In [ ]:
# Get the first 10 (count, city) tuples, and using map and zip functions divide them 2 lists: count and city.
#
#
#
#

### Plot results

In [ ]:
# Plot the results using a bar plot. x axis will be cities and y axis will be counts.
#
#
#
#

### Exercise 2

### Specify ascending vs. descending order

In [ ]:
# Count customer_unique_id for each state, in ascending order.
#
#
#
#

In [ ]:
# Print the top-10 tuples in the result.
#
#
#
#

In [ ]:
# Get the first 10 (count, city) tuples, and using map and zip functions divide them into 2 lists: count and state.
#
#
#
#

In [ ]:
# Plot the results using a line plot. x axis will be counts and y axis will be states.
#
#
#
#

### Exercise 3 - Average payment value by payment type

In [ ]:
# For each different payment_type, get the average payment_value. 
# Consider only payments with positive payment_value, and exclude results having average <= 100.
#
#
#
#

In [ ]:
# Using map and zip functions as we did earlier, construct a bar plot. 
# x axis will be payment types, y axis will be average payment values. 
#
#
#
#

### Exercise 4 - Top 10 spenders

In [ ]:
# Find how much each customer has spent in total, in descending order.
#
#
#
#

In [ ]:
# Using map and zip functions as we did earlier, construct a bar plot. Only include top 10 spenders.
#
#
#
#

### Exercise 5 - Count orders for each month

In [ ]:
# For each month, find the number of order_id's. Retrieve months from the order_purchase_timestamp attribute.
# Note: The MONTH() function returns the month of a specified date (a number from 1 to 12).
#
#
#
#
#

In [ ]:
# Using map and zip functions as we did earlier, construct a pie chart.
# The pie chart should contain 12 slices (months January to December). 
# Sizes of slices should be determined by the number of order_ids. 
#
#
#
#

### Exercise 6 - Total cost of delivered orders for each month

In [ ]:
# Find the payment for each order_id, and for each month of order_delivered_customer_date, calculate the sum of costs in ascending order.
#
#
#
#

In [ ]:
# Using map and zip functions as we did earlier, construct a line plot.
# x axis should contain different months (1 to 12), y axis should contain costs. 
#
#
#
#

### Exercise 7 - Select a limited number of rows

In [ ]:
# Select all attributes from order_payments table, where payment_value is greater than 50. 
# Limit the number of tuples selected to 4.
#
#
#
#

### Exercise 8 - Select Distinct

In [ ]:
# Select all possible unique order_status from orders table, in ascending order.
#
#
#
#
#

### Exercise 9 - Find order status by order id

In [ ]:
# Implement a function called get_orders(orderid) which accepts an order_id and returns its order_status.
# Example input order_id's: e481f51cbdc54678b7cc49136f2d6af7, 53cdb2fc8bc7dce0b6741e2150273451.
#
#
#
#

### Exercise 10 - Find the number of customers from a city

In [ ]:
# Implement a function called get_customers(customercity) which accepts a city as input and returns the number of customers
# from that city.
# Example input cities: "sao paulo", "brasilia"
#
#
#
#

### Exercise 11 - Find payment type and payment value of an order

In [ ]:
# Implement a function called get_order_payments(orderid) which accepts an order_id as input and returns the payment type 
# and payment value of that order_id.
# Example order_ids: 771ee386b001f06208a7419e4fc1bbd7, 3d7239c394a212faae122962df514ac7
#
#
#
#

## SQLAlchemy

* SQLAlchemy ORM (Object Relational Mapper) is a higher-level API built on top of SQLAlchemy Core, providing an easier way to interact with databases using Python classes and objects 

* allows you to map Python classes to database tables 

* interact with the data in those tables using instances of those classes 

* simplify database operations

* allows you to write more Pythonic code 

* a powerful tool for managing database-driven applications

In [ ]:
!pip install sqlalchemy pymysql

In [ ]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import and_
from datetime import datetime
from sqlalchemy import or_
from sqlalchemy.orm import Query

In [ ]:
engine = db.create_engine("mysql+pymysql://root:YOUR_PASSWORD@localhost/ps_ecommerce")
connection = engine.connect()

In [ ]:
inspector = inspect(engine)
schemas = inspector.get_schema_names()
         
for schema in schemas:
    print("database: %s" % schema)

In [ ]:
SQLALCHEMY_SILENCE_UBER_WARNING=1

In [ ]:
# create a declarative base class for the model class
Base = declarative_base()
Base.metadata.reflect(engine)

In [ ]:
import platform

if platform.system() == "Windows":
    class Customers(Base):
        __table__ = Base.metadata.tables["customers"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["customers"].c.customer_id]
        }
        
    class Orders(Base):
        __table__ = Base.metadata.tables["orders"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["orders"].c.order_id]
        }
        
    class OrderItems(Base):
        __table__ = Base.metadata.tables["order_items"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["order_items"].c.order_id, Base.metadata.tables["order_items"].c.order_item_id]
        }
        
    class OrderPayments(Base):
        __table__ = Base.metadata.tables["order_payments"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["order_payments"].c.order_id, Base.metadata.tables["order_payments"].c.payment_sequential]
        }
else:
    class Customers(Base):
        __table__ = Base.metadata.tables["CUSTOMERS"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["CUSTOMERS"].c.customer_id]
        }
        
    class Orders(Base):
        __table__ = Base.metadata.tables["ORDERS"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["ORDERS"].c.order_id]
        }
        
    class OrderItems(Base):
        __table__ = Base.metadata.tables["ORDER_ITEMS"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["ORDER_ITEMS"].c.order_id, Base.metadata.tables["ORDER_ITEMS"].c.order_item_id]
        }
        
    class OrderPayments(Base):
        __table__ = Base.metadata.tables["ORDER_PAYMENTS"]
        __mapper_args__ = {
            'primary_key':[Base.metadata.tables["ORDER_PAYMENTS"].c.order_id, Base.metadata.tables["ORDER_PAYMENTS"].c.payment_sequential]
    }

In [ ]:
# create a factory for creating database session
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
# Using session.query and defined classes, write the following query in SQL Alchemy.
# Query: SELECT customers.customer_id AS customers_customer_id FROM customers
#
#

In [ ]:
# Using session.query and defined classes, write the following query in SQL Alchemy.
# Query: SELECT customers.customer_id AS customers_customer_id, customers.customer_zip_code_prefix AS customers_customer_zip_code_prefix, 
# customers.customer_city AS customers_customer_city FROM customers
#
#

In [ ]:
# Using session.query and defined classes, write the following query in SQL Alchemy.
# Query: SELECT orders.order_id AS orders_order_id FROM orders
#
#

### In the following exercises, the goal is to write the given SQL queries using SQL Alchemy.

### filter, or

In [ ]:
"""
    SELECT *
    FROM ORDER_PAYMENTS
    WHERE payment_value > 4000 OR payment_installments = 11
"""

### sum, group by

In [ ]:
"""
        SELECT payment_type, SUM(payment_value) AS total_payment 
        FROM ORDER_PAYMENTS
        GROUP BY payment_type
"""

### join

In [ ]:
"""
    SELECT CUSTOMERS.customer_id, ORDERS.order_status, ORDERS.order_id
    FROM ORDERS
    JOIN CUSTOMERS
    ON ORDERS.customer_id=CUSTOMERS.customer_id
    LIMIT 4
"""

In [ ]:
"""
SELECT MONTH(ORDERS.order_delivered_customer_date) as m, SUM(ORDER_COSTS.cost) as total
             FROM ORDERS 
             JOIN
             (SELECT order_id , SUM(payment_value) AS cost
                                FROM ORDER_PAYMENTS 
                                GROUP BY order_id
             ) ORDER_COSTS
             ON ORDERS.order_id=ORDER_COSTS.order_id
             GROUP BY m
             ORDER BY m ASC
"""

### and

In [ ]:
"""
    SELECT Orders.order_id, Orders.order_purchase_timestamp
    FROM ORDERS
    WHERE Orders.order_purchase_timestamp < '2018/1/1' AND Orders.order_purchase_timestamp > '2017/1/1'
    limit 10
"""

### order by

In [ ]:
"""
    SELECT Orders.order_id, Orders.order_purchase_timestamp, Orders.order_status
    FROM ORDERS
    WHERE Orders.order_purchase_timestamp < '2018/8/1' AND Orders.order_purchase_timestamp > '2018/6/1' AND Orders.order_status = "shipped"
    ORDER BY Orders.order_purchase_timestamp DESC
    LIMIT 10
"""

### insert

In [ ]:
"""
    INSERT INTO CUSTOMERS (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state)
    VALUES
        (34, '3473', '34040', 'Istanbul', 'M'),
        (35, '3573', '35073', 'Izmir', 'E'),
        (61, '6173', '61003', 'Trabzon', 'K');
"""

### update

In [ ]:
"""
    UPDATE Customers SET customer_city = 'Ankara' WHERE id = "34";
"""

### delete

In [ ]:
"""
    DELETE FROM CUSTOMERS WHERE ID IN ("34", "61", "35")
"""

### combining all of them

In [ ]:
"""
SELECT
    C.customer_id,
    C.customer_city,
    C.customer_state,
    COUNT(DISTINCT O.order_id) as total_orders,
    SUM(OI.price + OI.freight_value) as total_spent
FROM
    CUSTOMERS C
JOIN
    ORDERS O ON C.customer_id = O.customer_id
JOIN
    ORDER_ITEMS OI ON O.order_id = OI.order_id
WHERE
    C.customer_city IN (
        SELECT
            customer_city
        FROM
            CUSTOMERS
        GROUP BY
            customer_city
        HAVING
            COUNT(DISTINCT customer_id) > 100
    )
AND
    O.order_status = 'delivered'
AND
    O.order_delivered_customer_date BETWEEN '2017-01-01' AND '2017-01-31'
GROUP BY
    C.customer_id,
    C.customer_city,
    C.customer_state
"""

In [ ]:
# close the session
session.close()

In [ ]:
db_cursor.close()
db_connection.close()